.container {
  height: 244px;
  width: 255px;
  border-radius: 15px;
  color: var(--white);
}
.activity {
  height: 199px;
  margin-top: -45px;
  border-radius: 15px;
  background-color: var(--darker-blue);
  position: relative;
  z-index: 5;
}
.activity:hover {
  background-color: hsla(236, 41%, 34%, 1);
}
.heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  padding: 15px 0 5px 0;
}
.activityType {
  font-size: var(--fs);
  font-weight: var(--fw-med);
}
.ellipsis {
  height: 5px;
  width: 16px;
}
.ellipsis:hover {
  color: var(--white);
}
.time {
  margin-left: 30px;
}
.current {
  margin: 0px;
  font-size: 56px;
  font-weight: var(--fw-light);
}
.previous {
  font-size: 15px;
  font-weight: var(--fw-light);
  color: var(--pale-blue);
}
