.container {
  height: 244px;
  width: 255px;
  border-radius: 15px;
  color: var(--white);
}
.activity {
  height: 199px;
  margin-top: -45px;
  border-radius: 15px;
  background-color: var(--darker-blue);
  position: relative;
  z-index: 5;
}
.activity:hover {
  background-color: hsla(236, 41%, 34%, 1);
}
.heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  padding: 15px 0 5px 0;
}
.activityType {
  font-size: var(--fs);
  font-weight: var(--fw-med);
}
.ellipsis {
  height: 5px;
  width: 21px;
}
.ellipsis:hover {
  filter: brightness(0) invert(1);
}
.time {
  margin-left: 30px;
}
.current {
  margin: 0px;
  font-size: 56px;
  font-weight: var(--fw-light);
}
.previous {
  font-size: 15px;
  font-weight: var(--fw-light);
  color: var(--pale-blue);
}
@media (max-width: 480px) {
  .container {
    width: 327px;
    height: 160px;
  }
  .activity {
    height: 122px;
    margin-top: -45px;
  }
  .heading {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 24px;
    padding-bottom: 0;
  }
  .time {
    margin: -6px 24px 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .current {
    font-size: 32px;
  }
  .previous {
    font-weight: var(--fw-reg);
  }
}
