.user {
  height: 518px;
  width: 255px;
  border-radius: 15px;
  background-color: var(--darker-blue);
}
.userIntro {
  height: 354px;
  padding-left: 32px;
  border-radius: 15px;
  background-color: var(--blue);
}
.img {
  height: 78px;
  width: 78px;
  margin-top: 37px;
  border: 3px solid #ffffff;
  border-radius: 78px;
}
.intro {
  margin: 43px 0 3px 0;
  color: var(--pale-blue);
  font-size: 15px;
  font-weight: var(--fw-reg);
}
.name {
  margin: 0 0 80px 0;
  color: var(--white);
  font-size: 40px;
  font-weight: var(--fw-light);
  line-height: 47px;
}
.timeItem {
  margin-top: 26px;
  margin-left: -10px;
  list-style: none;
}
.timeSelection {
  margin-bottom: 21px;
  background: none;
  border: none;
  color: var(--desaturated-blue);
  font-size: var(--fs);
  font-weight: var(--fw-reg);
  line-height: 21px;
}
