@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  /* Primary Colors */
  --blue: hsl(246, 80%, 60%);
  --work-bg: hsl(15, 100%, 70%);
  --play-bg: hsl(195, 74%, 62%);
  --study-bg: hsl(348, 100%, 68%);
  --exercise-bg: hsl(145, 58%, 55%);
  --social-bg: hsl(264, 64%, 52%);
  --self-care-bg: hsl(43, 84%, 65%);
  /* Neutral Colors */
  --darkest-blue: hsl(226, 43%, 10%);
  --darker-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --white: hsla(0, 0%, 100%, 1);
  /* Typography */
  --fs: 18px;
  --fw-light: 300;
  --fw-reg: 400;
  --fw-med: 500;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-color: var(--darkest-blue);
}

* {
  box-sizing: border-box;
}

.reportContainer {
  width: 1110px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 253px auto;
}
@media (max-width: 480px) {
  .reportContainer {
    width: 327px;
    margin: 81px auto;
  }
}
